.item {
	background: white;
	border: 1px solid #e8e8e8;
	border-radius: 2px;
	margin-bottom: 1.3rem;
	padding: 1.3rem;	
}

.item__message {
	font-size: 1.3rem;
	font-style: italic;
	font-weight: 400;
	text-align: center;
}

.item--position-1 {
	background: mediumspringgreen;
}

.item--position-2 {
	background: lightblue;
}

.item--position-3 {
	background: palevioletred;
}

.item--position-4 {
	background: lightgray;
}